<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert Data</title>
</head>
<body>
    <form th:action="@{/save}" th:object="${student}" method="post">
        ID: <input type="text" th:field="*{rollno}" id=""><br>

Name: <input type="text" th:field="*{name}" id=""><br>
Age: <input type="text" th:field="*{age}" id=""><br>
Address: <input type="text" th:field="*{address}" id=""><br>

<input type="submit" value="Insert">
    
    </form> 
</body>
</html>